
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is all the commands</h1>
    <p>This page can be used to find the commands for your bot.</p>
    <li><p1> /support this will get you the support discord for the bot</p1><li>
    </li><p2>/ping this will get the ping of the bot in MS</p2><li>
    </li><p3>/ban will ban a member form the discord if you have admin perms for the server</p3><li>
    <li><p4> /changelogs this will show what changes for the bot after a update</p4><li>
    <li><p5>/ticket this will create a ticket system to the channel you want it in make sure for the role you pick is the role you want to be able to see the ticekts</p5></li>
        <a href="/execute-command">back</a>

</body>
</html>