<!-- views/execute-command.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Execute Command</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Execute Command</h1>
    <p>This page can be used to execute commands for your bot.</p>
    <li><a href="/">Back to Home</a><li>
    <li><a href="/command">command</a></li>
</body>
</html>
