<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bot Website</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Energy bot home page</h1>
    <ul>
        <li><a href="/bot-info">Bot Information</a></li>
        <li><a href="/execute-command">Execute Command</a></li>
        <li><a href="https://discord.com/oauth2/authorize?client_id=1131285638449209444&permissions=8&scope=applications.commands%20bot">inivte</a></li>
        <p1>You can find all the info about the bot here</p1>
    </ul>
</body>
<body>
    <p2>made by Chris L. owner of Energy bot</p2>
</body>
</html>
